In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\niraj khatri\anaconda jupyter\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import pymysql
import mysql.connector
import os
from sqlalchemy import create_engine

In [3]:
#Here We check the current working directory
current_directory = os.getcwd()
print(current_directory)

C:\Users\Niraj khatri

In [4]:
#Chnage the CWD to the path where our file is located
path ='D:\\Data Analytics\\Pizza sales\\pizza_sales'
change_directory = os.chdir(path)

In [5]:
#Read CSV File and we have 4-CSV files
Order_details = pd.read_csv('order_details.csv')

In [6]:
Orders = pd.read_csv('orders.csv')

In [7]:
pizzas = pd.read_csv('pizzas.csv')

In [8]:
pizza_types=pd.read_csv("pizza_types.csv",encoding='latin1')

In [9]:
#Establish a connection between your Python application and the MySQL database
engine = create_engine('mysql+mysqlconnector://root:root@localhost:3306/pizza_sales')

In [10]:
#Write DataFrame to MySQL Table
Order_details.to_sql('Order_details',con=engine,if_exists='append',index=False)

C:\Users\Niraj khatri\AppData\Local\Temp\ipykernel_9604\1188333865.py:2: UserWarning: The provided table name 'Order_details' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Order_details.to_sql('Order_details',con=engine,if_exists='append',index=False)

48620

In [11]:
Orders.to_sql('Orders',con=engine,if_exists='append',index=False)

C:\Users\Niraj khatri\AppData\Local\Temp\ipykernel_9604\3064846717.py:1: UserWarning: The provided table name 'Orders' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Orders.to_sql('Orders',con=engine,if_exists='append',index=False)

21350

In [12]:
pizzas.to_sql('pizzas',con=engine,if_exists='append',index=False)

96

In [13]:
pizza_types.to_sql('Pizza_types',con=engine,if_exists='append',index=False)

C:\Users\Niraj khatri\AppData\Local\Temp\ipykernel_9604\1777503616.py:1: UserWarning: The provided table name 'Pizza_types' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  pizza_types.to_sql('Pizza_types',con=engine,if_exists='append',index=False)

32